<%- include('../partials/header') %>

<h1>Flight Details</h1>

<form action="/flights" method="POST">
    <section id="show-page">
        <div><strong>Airline:</strong> </div>
        <div><%= flight.airline %></div>
        <div><strong>Departure Airport:</strong> </div>
        <div><%= flight.airport %></div>
        <div><strong>Flight Number:</strong> </div>
        <div><%= flight.flightNo %></div>
        <div><strong>Departure Date:</strong> </div>
        <div><%= flight.departureDate %></div>
        
        <br><h2> Add a Destination </h2>
            <form id ="add-destination-form"
                action="/flights/<%= flight.id%>/destinations" method="POST">
                <label><strong> Destination-Airport: </strong></label>
                <select name="airport"> 
                <option value="AUS">AUS</option>
                    <option value="DFW">DFW</option>
                    <option value="DEN">DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                </select>
                <br>
                <label><strong> Arrival Date & Time </strong></label>
                <input type="datetime-local" name="arrival">
                <br>
                <input type="submit" value="Add Destination">
                </form>
            <br>

            <!--Cannot get this to render. Janet is taking  a look at it offline, couldnt figure out furing office hours-->
            <!-- <% if (flight.destinations.length) { %> 
            <table>
                <thead>
                <tr>
                    <th> Destination(s) </th>
                    <th> Arrival Details </th>
                </tr>
                </thead>
                <% flight.destinations.forEach(function(flight) { %> 
                <tr>
                    <td><%= flight.airport %></td>
                    <td><%= flight.arrivalDate %></td>
                </tr>
                <% }); %>
                </tbody>
                </table>
            <% } else { %>
            <h5> DIRECT FLIGHT </h5>
            <% } %>  -->


<h2>Tickets</h2>
<table>
    <thead>
        <th>Seat</th>
        <th>Price</th>
    </thead>
    <tr>
        <% flight.destinations.forEach(function(ticket) { %> 
            <tr>
                <td><%= ticket.seat %></td>
                <td><%= ticket.price %></td>
            </tr>
            <% }); %>
    </tr>
</table>


<a href="\views\tickets"> Add New Ticket </a> <!--I can't figure out how to connect this to the views/new.ejs page-->

<%- include('../partials/footer') %> 